body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eefff1;
}

.cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#Top {
  text-align: center;
}

#map {
  text-align: center;
  width: 300px; /* Largeur souhaitée */
  height: 900px; /* Hauteur triplée */
  padding: 20px;
}

#map iframe {
  position: relative;
  width: 150%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 15%;
}

td {
  border: 1px solid black;
  width: 20vw;
  text-align: center;
  border-radius: 15px;
}

#border {
  position: absolute;
  width: 20px;
  height: 88.9vh;
  margin-left: 65vw;
  background-color: black;
}
