body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eefff1;
}

.cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#Top {
  text-align: center;
}

.productImg {
  width: 15vw;
}

td {
  border: 1px solid black;
  width: 20vw;
  text-align: center;
  border-radius: 15px;
}

#border {
  position: absolute;
  width: 20px;
  height: 88.9vh;
  margin-left: 65vw;
  background-color: black;
}
