body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eefff1;
}

.producteurs {
	display: flexbox;
	width: max(400px, 60vw - 4rem);
	margin: 1em;
}

.producteur {
	position: relative;
	padding: 0 1rem;
	margin-top: 1rem;
	border: solid 1px black;
	border-radius: 5px;
	background-color: #EEFFF1;
}

.producteur:last-child {
	margin-bottom: calc(1rem + var(--footer-height));
}

.produit {
	position: absolute;
	height: calc(100% - 1rem);
	right: 6rem;
	top: 0.5rem;
	border-radius: 10px;
}

.reserver {
	position: absolute;
	width: 5rem;
	height: calc(100% - 1rem);
	right: 0.5rem;
	top: 0.5rem;
	border-radius: 5px;
	background-color: cadetblue;
	color: black;
	padding: 1rem;
}

.reserver img {
	position: absolute;
	width: 4rem;
	top: 0.5rem;
	right: 0.5rem;
}

.reserver span {
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
}

.map {
	position: fixed;
	width: calc(40vw - 4rem);
	height: calc(100vh - var(--footer-height) - var(--nav-height) - 2rem);
	right: 2rem;
	top: calc(var(--nav-height) + 1rem);
}