body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #EEFFF1;

}


.cols{
	display: grid;
	grid-template-columns: 2fr 1fr;
}


.productImg{
	width: 15vw;
}

td{
	border: 1px solid black;
	width: 20vw;
	text-align: center;
	border-radius: 15px;
}


#Product:hover{
	background-color: rgb(0, 96, 0);
	color: white;
}